profile:
  active: ${SPRING_PROFILES_ACTIVE}

spring:
  application.name: payments

  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${MS_PAYMENTS_DB_HOST}/${MS_PAYMENTS_DB_NAME}?${MS_PAYMENTS_DB_PARAMS}
    username: ${MS_PAYMENTS_DB_USER}
    password: ${MS_PAYMENTS_DB_PASS}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    generate-ddl: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration